.shop-header {
    margin-top: 5px;;
    margin-bottom: 1rem;
    .logo {
        font-size: 2.5rem;
        padding-left: 1rem;
        text-decoration: none;
    }
    .shopping-cart {
        align-self: center;
        font-size: 1.3rem;
        text-decoration: none;
        .cart-icon {
            font-size: 1.6rem;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}
